html, body, div, span, h1, h2, h3, h4, h5, h6, p, b, u, i, ol, ul, li, form,
label, legend, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    margin: 0 auto;
    background: #999;
}
h1, h2, #gameWindow {
    margin: 0 auto;
}
h1, h2 {
    text-align: center;
}
h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 800px;
    height: 50px;
    font-size: 2.5em;
    font-family: Verdana;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}
#gameWindow {
    width: 640px;
    height: 480px;
    background: #000;
}
#input, #submit, #output {
    border: 0;
    outline: 0;
}
#output {
    background: #000;
    resize: none;
    color: #FFF;
    width: 620px;
    height: 432px;
    overflow: hidden;
    padding: 10px;
}
#input, #submit {
    padding: 5px;
}
#input {
    width: 565px;
    float: left;
}
#submit {
    width: 65px;
    background: #222;
    color: #FFF;
    transition: 0.3s;
    float: right;
}
#submit:hover {
    background: #444;
    transition: 0.3s;
}
